@{
    ViewBag.Title = "About";
}

<link href="~/Content/about.css" rel="stylesheet" />
<div class="insta-main">
    <div class="insta-wrapper">
        <div class="insta-banner">

        </div>
        <div class="insta-details">
            <div class="insta-dp">
                <canvas width="150" height="150" style="background-image: url('/UploadedFiles/me.jpg');"></canvas>
            </div>
            <div class="insta-name">
                <h2>Rami Sadki<span>Créateur de l'application</span></h2>
            </div>
            <div class="insta-followers-wrap">
                
            </div>
            @*<div class="insta-button">
                    <a href="#">Follow</a>
                </div>*@
            @*<div class="insta-bio">
                    <p>Lorem Ipsum Sit Amet. Lorem Ipsum Sit Amet. Lorem Ipsum Sit Amet. Lorem Ipsum Sit Amet. Lorem Ipsum Sit Amet.</p>
                </div>*@
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-11">
        <div class="table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                <table class="table table-bordered" id="myTable">

                    <thead>
                        <tr>

                            <th>Type</th>
                            <th>Licence</th>
                            <th>Lien Code source</th>
                          

                        </tr>
                    </thead>
                    <tbody>


                        <tr>
                            <td class="success">Front</td>
                            <td class="danger">Profil</td>
                            <td>https://freefrontend.com/bootstrap-profiles/</td>
                        </tr>
                        <tr>
                            <td class="success">Back</td>
                            <td class="danger">upload file</td>
                            <td><a href="https://code-maze.com/upload-files-dot-net-core-angular/" target="_blank"> Upload files .Net Core </a>  </td>
                        </tr>

                        <tr>
                            <td class="success">Front</td>
                            <td class="danger">Login</td>
                            <td><a href="https://bootsnipp.com/snippets/00ADR" target="_blank"> https://bootsnipp.com/snippets/00ADR </a>  </td>
                        </tr>


                        <tr>
                            <td class="success">Front</td>
                            <td class="danger">Register</td>
                            <td><a href="https://docs.microsoft.com/fr-fr/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-5.0" target="_blank"> https://docs.microsoft.com/fr-fr/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-5.0 </a>  </td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
